/* This is huge in build/slides/_static/styles.css, why??  */
h2 {
  margin-top: 20px;
}

img.fill4 {
  min-width: 80%;
  padding: 5% 10%;
}
img.fill5 {
  min-width: 100%;
  padding: 10% 0;
}
img.fill6 {
  min-width: 100%;
  padding: 5% 0;
}

pre {
  font-size: 52%;
}
